.split-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    position: relative;
    min-height: 100vh;
    background: #fff;
    flex-wrap: wrap;    
    overflow: hidden;

    background: linear-gradient(to top, #ffffff 0%, #cbcbcb 100%)
  }
  
  .home-text {
    width: 30%;
    text-align: center;
    padding: 20px;
    z-index: 2;
    opacity: 0.9;
    transition: transform 0.3s ease;
    position: absolute;
    top: 20%;
  }
  
  .home-text.left {
    left: 0%;
  }
  
  .home-text.right {
    right: 0%;
  }
  
  .home-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .home-desc {
    font-size: 1rem;
    color: #555;
    max-width: 250px;
    margin: 0 auto;
  }
  
  .home-center {
    z-index: 2;
    text-align: center;
    max-width: 600px;
    padding: 20px;
  }
  
  .profile-icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .profile-heading {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  
  .profile-description {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
  }
  